body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase}

.web-logo {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 21px;
   color: #4D5AE5;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase
}

.studio-logo {
    color: #2e2f42;
}

.studio-logo-bottom {
    color: #f4f4fd;
}

.frontpage {
     
    background-color: #2e2f42;
    color: #FFFFFF;
    text-align: center;
}

.studio-link {
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio-link:hover {
    color: #404bbf;
}

.studio-link:focus {
    color: #404bbf;
}

.adress-bar {
    font-style: normal;
}



.contact {
    font-size: 16px;
        line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.contact:hover {
    color: #404bbf ;
    
}

.contact:focus {
    color: #404bbf;
}


.header-logo {
    font-size: 56px;
        line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    
    
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}



a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #434455;
    font-size: 16px;
}

li {
    list-style-type: none;
}








.pref-head {
color: #2E2F42;    
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.pref-head-minor{
color: #2E2F42;    
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
} 


.pref-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;


}

.team {
    background-color: #F4F4FD;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.team-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-item {
    background-color: #FFFFFF
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.portfolios-links {
    text-align: center;
}



.profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}


.app-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}




.footer {
    background-color: #2E2F42;
}

.studio-logo-footer {
    font-family: 'Raleway' sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #F4F4FD;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em

}